<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432325726822-ajfm5vcr96plsqmqe1nbb517m03ent2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432325726822-ajfm5vcr96plsqmqe1nbb517m03ent2m</string>
	<key>API_KEY</key>
	<string>AIzaSyDlligd8IuyWRmJC6jZGViKbve2wxsZISY</string>
	<key>GCM_SENDER_ID</key>
	<string>432325726822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhchoi.messengerApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-messenger-app-bd86d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-messenger-app-bd86d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432325726822:ios:ec94521481db1fe092d3a7</string>
</dict>
</plist>